<%- include('header'); %>
<main>
  <form action="/create" method="POST">
    <div class="form-group">
      <input type="submit" class="form-control" value="ルーム新規作成">
    </div>
  </form>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ルーム番号</th>
        <th scope="col">ルーム名</th>
        <th scope="col">マスター</th>
      </tr>
    </thead>
    <tbody>
      <% roomData.forEach((room, index) => { %>
        <tr>
          <th scope="row"><%= index %></th>
          <td><a href="/game/<%= room.id %>"><%= room.name %></a></td>
          <td><%= room.master %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>